<div class="row center-div">
	<div class="col-xs-8 col-xs-offset-2 text-center">
			<div class="panel panel-default">
				<div class="panel-header">
					<h1><u>{{itinerary_name}}</u></h1><br>
				</div>
		  		{{#each activities}}
				<div class="panel-body">
					<div class="row">				
						<div class="col-sm-4">
	  					<img class="img-thumbnail"   src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{this.activity_photo}}&key=AIzaSyDAWpS82SOzjGchLjXznjhyCoVC8zxQw_s">
						</div>
						<div class="col-sm-6">
							<h4>{{this.activity_name}}</h4>
							<p>{{this.activity_address}}</p>
							<p>{{this.activity_time}}</p>
						</div>
						<div class="col-sm-2">
						</div>
						<div class="col-sm-12"><hr></div>
					</div>

					{{!-- <hr> --}}
				</div>
		  		{{/each}}
		  		<br>
				<div><p><a href="/" style="color:darkblue;">Back to home</a></p></div>	
			</div>
	</div>
</div>